numpy
scipy
imageio
scikit-image
palettable
shapely
descartes
geojson
read_roi
tensorflow==2.0.0
tensorflow_hub
-e git+https://github.com/tensorflow/tfjs.git#egg=tensorflowjs\&subdirectory=tfjs-converter/python