numpy
scipy
imageio
scikit-image
palettable
shapely
descartes
geojson
read_roi
tensorflow==2.6.4
#tensorflow_hub
#-e git+https://github.com/tensorflow/tfjs.git#egg=tensorflowjs\&subdirectory=tfjs-converter/python